<h2>Hello, {{name}}</h2>
<ng-content></ng-content>
<hr/>
<p>
    Name of parent: {{userName}}<br/>
    Age of parent: {{userAge}}
</p>
<p>
    <button (click)="change(true)">+</button>&nbsp;<button (click)="change(false)">-</button>
</p>
<p>
    Change name: <input [ngModel]="someUserName" (ngModelChange)="onChangeName($event)" /> ({{someUserName}})
</p>
<p>
    Counter (#counter): {{counter}}
</p>
<p>
    ViewChild. <br/>
    Name of paragraph:<span #nameParagraph>p.1</span><br/>
    <button (click)="changeParagraph()">Change</button> (Property 'nativeElement' does not exist on type 'HTMLElement)
</p>
